.user-container {
	width: 90%;
	max-width: 530px;
	height: 8rem;
	max-height: 10rem;
	padding: 6px;
	margin: 1.8rem auto;
	border-radius: 25px;
	display: flex;
	align-items: center;
	color: azure;
	background-color: #033754;
	box-shadow: 0 4px 11px rgba(8, 8, 8, 0.568);
}
.user-image {
	height: 95px;
	width: 95px;
	margin: 0 0.6rem;
	background-color: #00dbba;
	border-radius: 12%;
	object-fit: contain;
	overflow: hidden;
}
.user-image img {
	height: 100%;
	width: 100%;
}
.user-favorite {
	height: 25px;
	width: 25px;
}
.user-info {
	padding: 5px;
}
.user-name {
	font-size: 1.8rem;
	font-weight: 400;
	padding: 4px;
}
.user-id {
	font-size: 1rem;
	font-weight: 300;
}
.user-info button {
	padding: 0.3rem;
	border: none;
}
