.user-container {
	width: 90%;
	height: 6rem;
	padding: 8px;
	margin: 1.4rem auto;
	border-radius: 22px;
	display: flex;
	align-items: center;
	color: azure;
	background-color: #033754;
}
.user-image {
	height: 68px;
	width: 68px;
	margin: 0 0.6rem;
	background-color: #00dbba;
	border-radius: 50%;
	object-fit: contain;
	overflow: hidden;
}
.user-image img {
	height: 100%;
	width: 100%;
}
.user-info {
	padding: 5px;
}
.user-name {
	font-size: 1.3rem;
	font-weight: 400;
}
.user-id {
	font-size: 1rem;
	font-weight: 300;
}
.user-info button {
	padding: 0.3rem;
	border: none;
}
