.profile-background {
	width: 100%;
	margin: -3.8rem 0 0 0;
	background-image: url('https://res.cloudinary.com/mlinescode/image/upload/v1647043784/evelin-site/background_cj480g.jpg');
	position: absolute;
}
.profile-navigation {
	height: 50px;
	width: 50px;
	margin: 0.8rem;
	filter: drop-shadow(2px 2px 6px #383838);
}
.profile-navigation img {
	height: 100%;
	width: 100%;
}
.profile-user {
	margin-top: 4rem;
	background-image: linear-gradient(360deg, #feffff 22%, transparent 70%);
}
.profile-posts {
	padding: 0.8rem 0;
	background-color: #feffff;
}
.profile-posts h2 {
	font-size: 1.8rem;
	padding: 1rem;
}
.profile-tags {
	margin: 0.2rem 0.8rem;
}
.profile-tags h3 {
	font-weight: 300;
	color: #b1b1b1;
}
