header {
	height: 4rem;
	width: 100%;
	background: rgba(255, 255, 255, 0.37);
	backdrop-filter: blur(35px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	top: 0rem;
	padding: 0.4rem;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.header-container {
	display: flex;
	align-items: center;
}
.header-title {
	margin: 0 0.4rem;
	font-size: 1.4rem;
	font-weight: 400;
}
.header-logo {
	height: 3rem;
	width: 3rem;
	object-fit: contain;
}
.header-logo img {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.header-search {
	height: 22px;
	width: 22px;
	margin: 0 5px;
}
